langchain
wikipedia
langchain-huggingface
langchain-community
langchain-openai
langchain-google-genai
python-dotenv
pydantic
duckduckgo-search
google-generativeai
beautifulsoup4  
arxiv 
pandas  
matplotlib  
reportlab  
pybtex  
python-docx  
requests  
faiss-cpu  
sentence-transformers  